*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, 'Courier New', Courier, monospace;
}
body{
    display: grid;
    grid-template-rows: 120px 1fr;
}
nav{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 40px;
}
section{
    width: 100%
}
#top{
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    gap: 3rem;
    background-color: #051f1e;
    color: white
}
#top span:hover > h3{
    color: gray;
    cursor: pointer;
}
#bot{
    box-shadow: 0 5px 25px 6px rgba(0,0,0,0.2);
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 135px 100px 125px 1fr 70px 180px; /*180*/
    width: 100%;
    padding-inline: 1.5rem;
}
#bot span{
    display: flex;
    align-items: center;
    gap: .35rem;
    /* outline: 1px dashed darkslategray; */
}
#bot span h4:hover{
    cursor: pointer;
    color: grey;
}
.gray-color{
    color: grey;
}
#starting-node{
    color: rgb(35, 85, 192);
}
#end-node{
    color: red;
}
.hover-black{
    color: black;
}
#range input{
    -webkit-appearance: none;
    background-color: lightgray;
    border-radius: .5rem;
    height: 8px;
    cursor: pointer;
}
#range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #051f1e;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
#range input:hover{
    /* -webkit-appearance: none; */
    background-color: rgb(194, 157, 157);
}
main{
    display: grid;
    /* place-items: center; */
    padding: .5rem;
    padding-top: .7rem;
}
#container{
    width: 1300px;
    height: 650px;
    display: grid;
    outline: 1px solid lightgrey;
}
.grid-item{
    outline: 1px solid lightgrey;
}
.solved{
    background-color: limegreen;
}
.start{
    background-color: rgb(52, 78, 170);
}
.end{
    background-color: red;
}
.path{
    background-color: yellowgreen;
}
.black{
    background-color: black;
}