*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, 'Courier New', Courier, monospace;
}
body{
    display: grid;
    grid-template-rows: 120px 1fr;
}
nav{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 40px;
}
section{
    width: 100%
}
#top{
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    gap: 2rem;
    background-color: #051f1e;
    color: white
}
#top span:hover > h4, #top h3:hover{
    color: gray;
    cursor: pointer;
}
#top h3{
    margin-left: auto;
}
#bot{
    box-shadow: 0 5px 25px 6px rgba(0,0,0,0.2);
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 135px 100px 1fr 125px 110px 70px 180px; /*180*/
    width: 100%;
    padding-inline: 1.5rem;
}
#bot span{
    display: flex;
    align-items: center;
    gap: .35rem;
    outline: 1px dashed darkslategray;
}
#bot .hover-span h4:hover{
    cursor: pointer;
    color: grey;
}
.exclude:hover{
    cursor:auto;
}
.gray-color{
    color: grey;
}
#starting-node{
    color: rgb(35, 85, 192);
}
#end-node{
    color: red;
}
.hover-black{
    color: black;
}
#range input{
    -webkit-appearance: none;
    background-color: lightgray;
    border-radius: .5rem;
    height: 8px;
    cursor: pointer;
}
#range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #051f1e;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
#range input:hover{
    /* -webkit-appearance: none; */
    background-color: rgb(194, 157, 157);
}
main{
    display: grid;
    /* place-items: center; */
    padding: .5rem;
    padding-top: .7rem;
}
#container{
    width: 1300px;
    height: 650px;
    display: grid;
    outline: 1px solid lightgrey;
}
.grid-item{
    outline: 1px solid lightgrey;
}
.solved{
    animation: animate 1s forwards;
}
@keyframes animate{
  0%{
    transform: scale(0);
    border-radius: 100%;
    background-color: rgb(18, 20, 18);
  }
  50%{
    background-color: rgb(58, 57, 19)
  }
  100%{
    transform: scale(1);
    background-color: limegreen;
    border-radius: 0%;
  }
}
.start{
    background-color: rgb(52, 78, 170);
    animation: gelatine 0.5s;
}
.end{
    background-color: red;
    animation: gelatine 0.5s;
}
.path{
    background-color: yellowgreen;
    color: yellowgreen;
}
.black{
    background-color: #051f1e;
    animation: gelatine 0.5s;
    outline: 1px solid #051f1e;
    z-index: 2;
}
.none{
    background: none;
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(1, 1.1); }
    50% { transform: scale(1.1, 1); }
    75% { transform: scale(1, 1.1); }
}
.solution{
    background-color: rgb(214, 214, 58);
    outline: 1px solid rgb(214, 214, 58);
    /* z-index: 2; */
}
.path0{
    color: yellowgreen;
}
.solution0{
    color: rgb(214, 214, 58);
}